.navbar {
    background-color: Black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.86;
    font-family: 'Patua One', cursive;
}

.container {
    padding: 16px;
    margin-top: 40px;
    z-index: 2;
}

body {
    background-color: rgb(224, 235, 236);
    height: 100%;
}


.Myname {
    font-size: 2em;
    font-family: 'Comfortaa', cursive;
    color: rgb(96, 125, 147);
}

h2 {
    font-size: 1.9em;
}


footer {
    background-color: rgb(68, 62, 63);
}

th {
    text-align: center;
}

.picplaces {
    /*border: 1px solid black;*/
    border-collapse: collapse;
    text-align: center;
    position: relative;
    
}

#tableName {
    font-size: 1em;
    color: rgb(96, 125, 147);
}

.trans-background {
    opacity: 0.3;
    height: 26em;
    width: 23em;
}

.Social {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    margin: auto;
    padding: 12px;
    color: rgb(96, 125, 147);
}


.Credit {
    font-size: 12px;    
    text-align: center;
    color: rgb(96, 125, 147);
}

a:link {
    color: rgb(229, 148, 0);   
    text-decoration: none;
}

a:visited {
    color: rgb(229, 148, 0);   
    text-decoration: none;
}    

a:hover {
    color: rgb(71, 182, 107);
    text-decoration: none;
}

a:active {
    color: rgb(71, 182, 107);   
    text-decoration: underline;
}
