body {
    background-color: DarkSlateGrey;
}

h1, h2, h3, h4 {
    color: white;
}

.navbar {
    background-color: LightSlateGrey;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
}

.container {
    padding: 16px;
    margin-top: 70px;
    z-index: 2;
}

.well {
    background-color: rgb(100, 113, 157);
}

#cart {
    height: 40px;
    width: 40px;
    opacity: 1.0;
}